body {
  background-color: rgb(81, 166, 203);
}
h1 {
  color: rgb(23, 23, 105);
}
p {
  color: rgb(0, 0, 0);
  border: 5px solid rgb(0, 0, 0);
}
a {
  color: rgb(0, 0, 0);
  border: 0px solid rgb(0, 0, 0);
}